* {
    box-sizing: border-box;
}
hr {
    height: 10px;

}@media (max-width: 640px) {
    .navbar-brand {
        margin: 0 auto; 
        clear: both;
        width: 100%;
        text-align: center;
    }
    
   
}